:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primari-text-color-theme-ligth: #212121;
  --secondary-text-color-theme-light: #757575;
}
body {
  font-family: var(--primary-font-family);
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1600px;
  padding-left: 215px;
  padding-right: 215px;
}
.logo-color {
  margin-right: 93px;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-color {
  color: #000000;
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.header-container {
  display: flex;
  align-items: center;
  padding-left: 215px;
  justify-content: space-between;
}

.header {
  width: 1600px;
  border: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contact-info {
  margin-left: 50px;
}
.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
}

.contact {
  display: flex;
}

.navigation-list :hover,
.navigation-list :focus {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}
.contact-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-theme-light);
}
.contact :hover,
.contact :focus {
  color: var(--accent-color);
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  background: #2f303a;
}
.hero-container {
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  padding-bottom: 200px;
}
.maine-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero {
  width: 1600px;
  background: #2f303a;
}

.modal-btn {
  min-width: 200;
  padding: 10px 30px;
  border: 1px solid var(--accent-color);
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;

  color: #ffffff;
  background: var(--accent-color);
}

.benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primari-text-color-theme-ligth);
}

.description-benefits {
flex-basis: calc(100%-120px)/4);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-light);
}
.description-benefits:not(:nth-child(4)) {
  margin-right: 30px;
}
.benefits-conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list {
  display: flex;
}
.foto {
  display: flex;
}
.images-conteiner {
  padding-bottom: 94px;
}
.foto:not(:nth-child(3)) {
  margin-right: 30px;
}
.images:not(:nth-child(3)) {
  margin-right: 30px;
}
.images {

flex-basis: calc(100%-90px)/3);
}
.heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primari-text-color-theme-ligth);
}
.section-team {
  padding: 94px 215px;
}
.section-team {
  justify-content: center;
}
.emloees-card {
  display: flex;
  justify-content: space-between;
}
.emloee:not(:nth-child(4)) {
  flex-basis: calc(100%-120px) / 4;
  margin-right: 30px;
}
.emloee {
  flex-basis: calc(100%-120px)/4);
  border: 1px solid #ffffff;
}
.team-card {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primari-text-color-theme-ligth);
}

.position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-light);
}

.section-team {
  background: #f5f4fa;
}

.footer-section {
  border: 1px solid #2f303a;
  width: 1600px;
  background: #2f303a;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #2196f3;
}
.second-logo-color {
  color: #ffffff;
}
.adress {
  margin-top: 20px;
}
.contacts-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.contacts-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-conteiner {
  padding-top: 60px;
  padding-left: 215px;

  padding-bottom: 60px;
}

.modal-btn-whithe {
  width: 128px;
  height: 38px;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  border: 1px solid #ffffff;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal-btn-whithe-one {
  width: 73px;
  height: 38px;
  border: 1px solid var(--accent-color);
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.btn-conteiner {
  display: flex;
  align-items: center;
  padding-left: 215px;
  padding-right: 494px;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 100px;
}
.btn-class:not(:nth-child(5)) {
  margin-right: 9px;
}

.modal-btn-whithe:hover,
.modal-btn-whithe :focus {
  background: #2196f3;
}
.modal-btn-whithe:hover,
.modal-btn-whithe :focus {
  color: #ffffff;
  
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list{
  width: 1600px;
  margin-left: -30px;
  margin-top: -30px;
}
.list-items {
  flex-basis: calc(100%-90px)/3);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #EEEEEE;
}
.progects-names {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.icon-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: #757575;
}
.progects-content-wrapper {
  padding: 20px 24px 54px 24px;
}
.icon-description {
  margin-top: 4px;
}
.main-section {
  margin-bottom: 94px;
}